@font-face {
    font-family: 'Cerebri Sans';
    src: url('/assets/fonts/CerebriSans-Regular.eot');
    src: url('/assets/fonts/CerebriSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/CerebriSans-Regular.woff2') format('woff2'),
        url('/assets/fonts/CerebriSans-Regular.woff') format('woff'),
        url('/assets/fonts/CerebriSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: url('/assets/fonts/CerebriSans-Bold.eot');
    src: url('/assets/fonts/CerebriSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/CerebriSans-Bold.woff2') format('woff2'),
        url('/assets/fonts/CerebriSans-Bold.woff') format('woff'),
        url('/assets/fonts/CerebriSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

